.section--contact {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  background-color: $color-primary;
  padding: 8rem 10rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__details {
    max-width: 110rem;
    width: 100%;
  }

  &__info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    text-align: left;
  }

  &__info-box {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
  }

  &__icon {
    flex: 0 0 auto;
    height: 3rem;
    width: 3rem;
    fill: $color-primary-dark;
  }

  &__info {
    min-width: 0;
  }

  &__text {
    margin-top: -0.3rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-primary-dark;
    word-break: break-word;
  }
}

@media (max-width: 56.25em) {
  .contact__info-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 37.5em) {
  .section--contact {
    padding: 5rem 3rem;
  }

  .contact__info-grid {
    grid-template-columns: 1fr;
  }
}
